* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(47, 46, 131);
}

.nav-link {
    color: white;
    text-shadow: 0px 0px 15px rgb(217, 255, 0);
}

.nav-link:hover {
    color: aqua;
}

.current {
    color: rgb(0, 14, 136);
    text-shadow: 0px 0px 15px rgb(0, 38, 255);
}

.logo {
    margin-top: 4px;
    border-radius: 50px;
    margin-right: 300px;
}

.color {
    height: 873px;
    background-color: rgb(0, 106, 155);
    color: white;
}

.person img {
    box-shadow: 0px 19px 19px 26px rgba(184, 140, 255, 0.49);
    border-radius: 200px 0px 200px 55px;
}

.person2 img{
    box-shadow: 0px 19px 19px 26px rgba(140, 68, 255, 0.49);
    border-radius: 0px 200px 55px 200px;
}

.text {
    margin-top: 60px;
}

.text h1,.Call{
    background-image: linear-gradient(to right, rgb(255, 72, 72), rgb(252, 203, 111), rgb(255, 123, 0), rgb(64, 241, 64), rgb(81, 255, 0), rgb(198, 119, 255), rgb(248, 150, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 6px 12px #9da6ff;
}

.top1{
    padding-top: 100px;
}

.color2{
    background-color: rgb(179, 58, 58);
    height: 800px;
}

.p5{
    color: rgb(248, 150, 248);
    text-shadow: 0px 8px 9px rgba(255,0,0,1);
}

.hp_img img{
    margin-left: 400px;
}

.hp_img p{
    margin-left: 390px;
}

.icon svg{
    margin-left: 40px;
    margin-top: 40px;
}

.span_div{
    background-color: orange;
    border-radius: 5px;
    width: 200px;
    height: 15px;
    border: 1px solid black;
}

.col-4{
    margin-left: 140px;
}

.sec5{
    height: 650px;
    background-color: rgb(142, 170, 115);
}

.color3{
    background-color: rgb(255, 50, 238);
}

.bg-info1{
    background-color: rgb(0, 106, 155);
}

.btn-12{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-12 span {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }